.card_content {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.197), rgba(255, 255, 255, 0.022));
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 15px 0px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    margin: 0px;
}

.card_content:hover {
    background-color: var(--secondary_grey);
    box-shadow: 0 8px 15px 0px rgba(0, 0, 0, 0.37);
}

.photo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.card_photo {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 300px;
}

.description_container {
    min-height: 15%;
    padding: 2px 5px 0px 5px;
    margin: 0px;
}

.card_title {
    color: var(--quaternary_grey);
    font-size: 15px;
    text-align: center;
    margin: 15px 5px 0px 5px;
} 

.card-vote-average {
    text-align: center;
    color: var(--quaternary_grey);
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.card-link-container {    
    text-align: center;
    background-color: var(--primary_grey);
    border-radius: 10px;
    width: 40%;
    margin: 10px 70px 0px 70px;
    padding: 2px 0px 2px 0px;
}

.card-link-container:hover {
    border: 1px solid var(--quaternary_grey);
}

.card-link {
    text-decoration: none;
    color: var(--quaternary_grey);
}