.card_content {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0 8px 15px 0px rgba(0, 0, 0, 0.37);
    padding-bottom: 30px;
}

.card_content:hover {
    background-color: var(--secondary_grey);
    box-shadow: 0 8px 15px 0px rgba(0, 0, 0, 0.37);
    border: none;
}

.photo_container{
    background-image: var(--quaternary_grey);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.card_photo{
    border-radius: 10px;
    margin-top: 5px;
    width: 95%;
    height: 330px;
}

.description_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 15%;
    padding: 2px 5px 2px 5px;
    margin: 0px;
}

.card_title {
    color: var(--quarternary_grey);
    font-size: 15px;
    text-align: center;
} 

.card-vote-average{
    text-align: center;
    margin: 0px;
}