.navbar-container{
    background-color: var(--secondary_grey);
    padding: 20px 100px 20px 100px;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLink {
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
}

.navbar-content form{
    display: flex;
    gap: .5rem;
}