:root {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  --primary_grey: #292828;
  --secondary_grey:#3A3A3A;
  --tertiary_grey: #c9c8c8;
  --quaternary_grey: #D9D9D9;
  --white: #fff;
}
* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: var(--primary_grey);
  /*background-image: url("./img/popped_popcorn.png");*/
  background-repeat: repeat;
  background-position: right;
  margin: 0px;
  padding: 0px;
}

